[core]
	editor = "emacsclient -nw -a ''" --alternate-editor "vim" --alternate-editor "nano"
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
	status  = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[push]
	default = tracking
[include]
	path = ~/.gitconfig.local
[alias]
	a = add -p
	ap = add -p
	b = branch -a
	branches = branch -a # ブランチの一覧
	c = commit
	cm = commit
	co = !git checkout $(git branch | peco | awk '{print $NF}')
	d = diff
	dc = diff --cached
	s = status -s
	stashes = stash list              # stash した一覧
	unstage = reset -q HEAD --
	discard = checkout --
	uncommit = reset --mixed HEAD~
	amend = commit --amend
	nevermind = !git reset --hard HEAD && git clean -d -f
	# リアルタイムのタイムラインを見ることができる
	precommit = diff --cached --diff-algorithm=minimal -w
	last = log -1 HEAD --format=format:"%Cred%H"
	untrack = rm -r --cached
	mergetrail = log --ancestry-path --merges
	l = log --graph --date=short --pretty=format:'%C(red reverse)%d%Creset%C(white reverse) %h% Creset %C(green reverse) %an %Creset %C(cyan)%ai%Creset%n%C(white bold)%w(80)%s%Creset%n%n%w(80,2,2)%b'
	hash = rev-parse HEAD
	p = !git push origin `git rev-parse --abbrev-ref HEAD`
	delete-merged-branch = !git branch --merged | grep -v \\* | grep -v master | xargs -I % git branch -d %
	# blameしてそのコミットが含まれるPR番号を教えてくれます
	showpr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
	see = browse
	pr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
	ag = "!git ls-files | xargs ag --pager=\"less -F -R\" --nogroup --color-match=0\\;31 --color-path=0\\;0 --no-numbers"
[commit]
	template = ~/.dotconfig/dotfiles/.git_commit_template.txt
[grep]
	lineNumber = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[interactive]
	diffFilter = diff-highlight
[diff]
	compactionHeuristic = true
[ghq]
	root = ~/code
