[submodule ".tmux/tmux-yank"]
	path = .tmux/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "zsh.d/zsh-syntax-highlighting"]
	path = zsh.d/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim.d/bundle/neobundle.vim"]
	path = vim.d/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "vim.d/bundle/vimproc"]
	path = vim.d/bundle/vimproc
	url = https://github.com/Shougo/vimproc
