"*":
  "atom-autocomplete-php":
    verboseErrors: true
  core:
    disabledPackages: [
      "symbols-view"
      "symbols-tree-view"
    ]
    packagesWithKeymapsDisabled: []
    projectHome: "/Users/jtwp470"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "\"Ricty\" \"Hiragino Kaku Gothic Pro\""
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "809a8e7c-44a9-ddd1-88b1-5f147833b212"
  "git-diff":
    showIconsInEditorGutter: true
  linter:
    showErrorPanel: false
  swackets:
    syntax: "Parentheses"
  "symbols-tree-view":
    autoToggle: true
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    tabLength: 4
